@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .navbar-toggler {
  color: #0275d8;
}
#slider-1 P {
  color: #ffffff;
}
#slider-1 H2 {
  text-align: center;
}
#social-buttons2-4 .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#contacts1-7 P {
  color: #0275d8;
}
#contacts1-7 STRONG {
  color: #0275d8;
}
